
.primary{
    color: darkgreen;
}

.accent{
    color: #44ae30;
}

.navbar{
    color: #00008b
}

.test{
    color: black
}

.red{
    color: red
}
success
warning
danger
info

.body{
    background-color: cyan;
}

.primary-bg{
    background-color: lightgreen;
}

.test2{
    width:100%;
    border:1px solid gray;
}

<!-- lager en test link backgrunn -->
.linker ul{
margin: 0;
padding: 5px;
list-style-type: none;
text-align: center;
background-color: #44ae30;
}

.linker ul li{
    display:inline;
}

.linker ul li a{
    text-decoration: none;
    padding: .2em 1em;
    color: #00008b
    background-color: #44ae30;
}

.linker ul li a:hover{
    color:#000;
    background-color:#fff
}

-----------------------------09.03.18


.color-primary{
    color:blue;
}
.color-primary-dark{
    color:darkblue;
}
.color-primary-light{
    color:lightblue;
}
.color-background-main{
    background-color: indianred;
}
.color-background-secondary{
    background-color: indianred;
}
.color-primary-bg{
    background-color: #0088ce;
}

.navbar-test{
    background-color:blue;
    color:white;
    height:100px;
    border: solid 1px black;
    border-radius: 10px;
    position:absolute;
    float: left;
    overflow: auto;
}

.box-150-px-1-test{
    height: 150px;
    width: 150px;
    border: solid 1px black;
    margin: 25px;
}

.margin-25-px{
    margin: 25px 10px 2px 100px
}

.box-50-px-1-test{
    height: 50px;
    width: 50px;
    margin: 5px;
    border:solid 1px red;
}