
.primary{
    color: darkgreen;
}

.accent{
    color: #44ae30;
}

.navbar{
    color: #00008b
}

.test{
    color: black
}

.red{
    color: red
}
success
warning
danger
info

.body{
    background-color: cyan;
}

.primary-bg{
    background-color: lightgreen;
}

.test2{
    width:100%;
    border:1px solid gray;
}

<!-- lager en test link backgrunn -->
.linker ul{
margin: 0;
padding: 5px;
list-style-type: none;
text-align: center;
background-color: #44ae30;
}

.linker ul li{
    display:inline;
}

.linker ul li a{
    text-decoration: none;
    padding: .2em 1em;
    color: #00008b
    background-color: #44ae30;
}

.linker ul li a:hover{
    color:#000;
    background-color:#fff
}