
.primary{
    color: darkgreen;
}

.accent{
    color: #44ae30;
}

.navbar{
    color: #00008b
}

.test{
    color: black
}

.red{
    color: red
}
.success {}
.warning {}
.danger{}
.info{}

.body{
    background-color: cyan;
}

.primary-bg{
    background-color: lightgreen;
}

.test2{
    width:100%;
    border:1px solid gray;
}


.linker ul li{
    display:inline;
}

.linker ul li a{
    text-decoration: none;
    padding: .2em 1em;
    color: #00008b
    background-color: #44ae30;
}

.linker ul li a:hover{
    color:#000;
    background-color:#fff
}

/* -----------------------------09.03.18 */

.middlebox {background-color: purple;}
.color-primary{color:blue;}
.color-primary-dark{color:darkblue;}
.color-primary-light{
    color:lightblue;
}
.color-background-main{
    background-color: indianred;
}
.color-background-secondary{
    background-color: indianred;
}
.color-primary-bg{
    background-color: #7ce7e2;
}

