/*
FLEXBOX
*/

.flex-row{
    display:flex;
    flex-direction: row;
    flex-grow: 3;
    flex-shrink:1;
}
.flex-row-margin{
    margin-bottom:30px;
}

.flex-column{
    display:flex;
    flex-direction: column;
}

.flex-activate-wrap{
    display: flex;
    flex-wrap: wrap;
}


.flex-navbar-margin{
    margin:2px;
}

.flex-singular{
    display:flex;
    padding-top:50px;
    padding-bottom:50px;
    flex-shrink:1;
    align-content:center;
}

