/*
FLEXBOX
*/

.flex-container{
    display: flex;
    background-color: dodgerblue;
    border: solid 10px black;
}

.flex-container > div{
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

test slett senere
.border{
    border: solid 10px black;
}

.singular > div{
    background-color:red;
    margin: 20px;
    padding: 20px;
    font-size: 30px;
    border: solid 10px black;
    width: 200px;
    text-align: left;
    color: blue;
    text-shadow: 2px 2px green
}

.column> div{
    background-color: green;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    flex-direction:column;
    border: solid 10px black;
    width:80px;
    height: 20px;
    text-align: center;
}

.body{
    background-color:lightblue;
}