

.knapp1{
    border:solid 1px black;
    background-color: lightgray;
    color: black;
    text-align:left;
}
.knapp1-padding{
    padding:1px;
}

/* Middle Box*/


.utility-boks-middle{
    border:solid 1px black;
    background-color:lightgray;
    color:black;
    font-size:30px;  
}

.padding-middlebox{
    padding-left:30px;
    padding-right:30px;
    padding-top:15px;
    padding-bottom:15px;
}
.margin-middlebox{
    margin-bottom:10px;
    margin-left:45%;
}
.flexbox-test1{
    display:flex
}

/*Boks 1 til 3*/


.utility-boks1{
    border:solid 1px black;
    background-color:lightcyan;
}
.utility-boks1-padding{
    padding:30px;
}
.utility-boks1-margin{
    margin-left:30px;
}


.utility-boks2{
    border:solid 1px blue;
    background-color: rgb(136, 219, 219);
}
.utility-boks2-padding{
    padding:30px;
}
.utility-boks2-margin{
    margin-left:30px;
}


.utility-boks3{
    border:solid 1px rgb(5, 5, 82);
    background-color: rgb(48, 189, 189);
}
.utility-boks3-padding{
    padding:30px;
}
.utility-boks3-margin{
    margin-left:30px;
}


.utility-middlebox-text{
    text-align:center;
}