

.knapp1{
    border:solid 1px black;
    background-color: lightgray;
    color: black;
    text-align:left;
}
.knapp1-padding{
    padding:1px;
}

.utility-boks-middle{
    border:solid 1px black;
    background-color:lightgray;
    color:black;
    font-size:30px;  
}

.padding-middlebox{
    padding-left:30px;
    padding-right:30px;
    padding-top:15px;
    padding-bottom:15px;
}
.margin-middlebox{
    margin-bottom:10px;
    margin-left:45%;
}
.flexbox-test1{
    display:flex
}
.flex-test1{
    border:solid 1px black;
    background-color:lightcyan;
    padding: 5px;
    margin: 5px;
    align-self:stretch;
}

.flex-test2{
    border:solid 1px blue;
    background-color: rgb(136, 219, 219);
    padding: 5px;
    margin: 5px;
}

.flex-test3{
    border:solid 1px rgb(5, 5, 82);
    background-color: rgb(48, 189, 189);
    padding: 5px;
    margin: 5px;
}

.utility-middlebox-text{
    text-align:center;
}