
/* Navigation Bar*/

.utility-navbar-layout{
    display: flex;
    background-color:lightblue;
    border:solid 1px black;
}
.utility-navbar-margin{
    margin:2px;
}
.utility-navbar-padding{
    padding:20px;
}

.utility-knapp1{
    border:solid 1px black;
    background-color: lightgray;
    color: black;
    text-align:center;
}
.utility-knapp1-padding{
    padding:1px;
}
.utility-knapp1-margin{
    margin-left:80px;
    margin-top:20px;
}
.utility-knapp1-width-height{
    width:200px;
    height:40px;
}

.utility-knapp2{
    border:solid 1px black;
    background-color: lightgray;
    color:black;
    text-align:center;
}
.utility-knapp2-padding{
    padding 1px;
}
.utility-knapp2-margin{
    margin-left:50px;
    margin-right:50px;
}
.utility-knapp2-width-height{
    width:600px;
    height:70px;
}

.utility-knapp3{
    border:solid 1px black;
    background-color: lightgray;
    color:black;
    text-align:center;
}
.utility-knapp3-padding{
    padding:1px;
}
.utility-knapp3-margin{
    margin:10px;
}
.utility-knapp3-width-height{
    width:200px;
    height:40px;
}
/* Middle Box*/

.utility-boks-middle{
    border:solid 1px black;
    background-color:lightgray;
    color:black;
    font-size:30px;  
}

.utility-bananas {
    font-size:300%;
    color:green;
    text-align:left;
}

.flexbox-test1{
    display:flex
}


/*Boks 1 til 3*/

.utility-boks1{
    border:solid 1px black;
    background-color:lightcyan;
}
.utility-boks1-padding{
    padding:50px;
}
.utility-boks1-margin{
    margin-left:19%;
}


.utility-boks2{
    border:solid 1px blue;
    background-color: rgb(136, 219, 219);
}
.utility-boks2-padding{
    padding:50px;
}
.utility-boks2-margin{
    margin-left:15%;
}


.utility-boks3{
    border:solid 1px rgb(5, 5, 82);
    background-color: rgb(48, 189, 189);
}
.utility-boks3-padding{
    padding:50px;
}
.utility-boks3-margin{
    margin-left:15%;
}

/* Final part */

.utility-bottom-layout{
    display:flex;
    background-color: darkmagenta;
    border:double 1px black;
}
.utility-bottom-margin{
    margin:5px;
}
.utility-bottom-padding{
    padding:5px;
}

.utility-bottom-information-layout{
    border:solid 1px black;
    background-color:rgb(103, 192, 103);
    color:black;
    text-align:center;
}
.utility-bottom-information-padding{
    padding-top:10px;
    padding-left:2%;
    padding-bottom:10px;
    padding-right:50px;
}
.utility-bottom-information-margin{
    margin-left:5%;
}
.utility-bottom-information-height-width{
    height:20px;
    width:70px;
}

.navbar-test{
    background-color:blue;
    color:white;
    height:100px;
    border: solid 1px black;
    border-radius: 10px;
    position:absolute;
    float: left;
    overflow: auto;
}

.box-150-px-1-test{
    height: 150px;
    width: 150px;
    border: solid 1px black;
    margin: 25px;
}

.margin-25-px{
    margin: 25px 10px 2px 100px
}

.box-50-px-1-test{
    height: 50px;
    width: 50px;
    margin: 5px;
    border:solid 1px red;
}

.get-flex{
    display:flex;
}